mot_de_passe
Une_ligne_dev2
tmp/todo.txt
*.txt
Une_ligne_dev1
ressources_cours_git/*
*.tar
ligne_pour_dev2
Nouvelle_ligne_dev2
Une_ligne_dev1
Une_ligne_dev1
Une_ligne_dev1
Une_ligne_dev2
Une_ligne_dev2
Une_ligne_dev2
Deuxième_modif_dev1
Deuxième_modif_dev1
Deuxième_modif_dev1
